	<section id="fh5co-testimonials" data-section="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.links.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.links.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			{{ range first 6 (where .Data.Pages "Type" "link") }}
				<div class="col-md-4 col-sm-6 col-xxs-12">
					<div class="box-testimony">
						<blockquote class="to-animate-2">
							<p>{{ .Content | markdownify}}</p>
						</blockquote>
						<div class="author to-animate">
							<p><h3><a href="{{ .Params.destination }}">{{ .Title }}</a></h3></p>
						</div>
					</div>
				</div>
			{{ end }}
			</div>
		</div>
	</section>
